
/* ***********************reset************************* */
body {
        /*padding-top: 20px;*/
        padding-bottom: 60px;
      }

      /* Custom container */
      .container {
        max-width: 1500px;
        width: 90%;
        margin: 0 5%;
      }
      .container > hr {
        margin: 60px 0;
      }

      .navbar{
        margin-bottom: -2px;
      }

      /* Customize the navbar links to be fill the entire space of the .navbar */
      .navbar .navbar-inner {
        padding: 0;
      }
      .navbar .nav {
        margin: 0;
        display: table;
        width: 100%;
      }
      .navbar .nav li {
        display: table-cell;
        width: 1%;
        float: none;
      }
      .navbar .nav li a {
        font-weight: bold;
        text-align: center;
        /*border-left: 1px solid rgba(255,255,255,.75);*/
        border-right: 1px solid rgba(0,0,0,.1);
        height:88px;
      }
      .navbar .nav li:first-child a {
        border-left: 0;
        border-radius: 0 0 0 0;
      }
      .navbar .nav li:last-child a {
        border-right: 0;
        border-radius: 0 0 0 0;
      }
      .well{
        border-radius: 0 0 4px 4px;
        -webkit-border-radius: 0 0 4px 4px;
        -moz-border-radius: 0 0 4px 4px;
      }
      .contentWell{
        /*padding-top: 0;*/
      }
      /*table last coloumn image space*/
      .action img{
        margin-right: 5px;
      }
      /*section title*/
      .sectionTitle{
        display: table;
      }
      /*formalate the sub button*/
      .subActionButton img{
        padding-right: 12px;
      }
      .submanueControl{
        clear: both;
      }
      /*to teduse hr's magin top*/
      .submanueDevider{
        margin-top: 0;
      }

      /*hr width out margin*/
      .hrNomargin{
        margin: 0;
      }

      
      /*format the company name and use data*/
      .companyName{
        display: table;
      }

      /*style user login data on dashbard*/
      #userData{
        padding: 5px 12px;
        /*margin-right: 10px;*/
        background: rgb(231, 231, 231);
        border: 1px solid rgb(209, 209, 209);
        margin-bottom: -1px;
      }
      .footer p{
        text-align: center;
      }

      #memberDetails table tr td:nth-child(1){
        width: 200px;
      }

      #memberDetails table td {
        border-bottom: 1px solid #dddddd;
        border-top: 0;
      }
      /*add image to profile*/
      .imgPlaseholder{
        padding: 5px;
        border: 1px dashed #dddddd;
        background: rgb(241, 241, 241) url(../img/addProfileImage.png) no-repeat center;
        height: 300px;
      }
      .imgPlaseholder:hover{
        box-shadow: 0px 0px 6px -3px rgb(83, 83, 83);
        -moz-box-shadow: 0px 0px 6px -3px rgb(83, 83, 83);
        -weblit-box-shadow: 0px 0px 6px -3px rgb(83, 83, 83);
      }
      .imgPlaseholder:active{
        box-shadow:inset 0px 0px 2px 2px rgb(255, 255, 255);
        -moz-box-shadow:inset 0px 0px 2px 2px rgb(255, 255, 255);
        -weblit-box-shadow:inset 0px 0px 2px 2px rgb(255, 255, 255);
      }
.rowSelect{
    background: #d5ffdb;
}

.dashboard-box
{
  height:auto;
  background:url(../img/dashboard/box_header.png) repeat-x #f2f2f2 top left;
  padding:10px;
  margin-bottom:30px;
  border:1px solid rgba(212, 212, 212, 0.75);
  border-radius: 4px;
  font-size: 12px;
}

.dashboard-box h4
{
  /*background:url('../img/dashboard/ph.png') no-repeat;*/
  color:#626262;
  /*padding-left: 25px;*/
  margin-bottom: 25px;
  margin-top: 2px;
  height:auto;
}

.dashboard-box p.intro 
{
  margin-bottom: 20px;
}

.dashboard-box table thead
{
  background-color: #639EC3;
  border-bottom: 1px solid #2D5D7C;
  box-shadow: 0 1px 3px #CCCCCC;
  color: #FAFDFF;
  font-size: 13px;
  font-weight: bold;
  text-shadow: 0 0 1px #ABD2EB;
}

#footer
{
  color:#5a5a5a;
  font-size: 12px;
  line-height: 15px;
}

#footer-right
{
  text-align: right;
}

.well
{
  background-color: #fff;
  box-shadow: 0px 1px 5px #cfcfcf;
}

.navbar ul.nav img
{
  margin-top: 10px;
}

#login-header
{
  /*background:url(../img/dashboard/box_header.png) repeat-x #f2f2f2 top left;*/
}

#login-form-content .form-actions
{
  padding:none;
  border-bottom: none;
  border-top: none;
  background-color: #fff;
  margin-top:-15px;
  margin-bottom:-30px;
}

#quick-links
{
  height: 32px;
  background: url(../img/dashboard/quick-links-bg.png) bottom left repeat-x #fff;  
  color: #00AFD7;
  border: 1px solid #DBDBDB;
  border-radius: 5px;
  margin-bottom: 20px;  
  padding-top: 8px;
}

#quick-links a
{
  color: #00AFD7;
}

#quick-links li
{
  float: left;
  display: block;
  /*background-color: #e2e2e2;*/
  padding: 2px;
  margin-right: 5px;
}

#quick-links li img
{
  margin-right: 5px;
}

.tablefield{
    background-color: #f2f2f2 !important;
    text-align: right !important;
    padding-top: 13px !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-top-color: #dddddd !important;;
}
.tabledata{
    background-color: #fff !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-top-color: #dddddd !important;;
}
h4{
    font-size: 16px !important;
}

textarea
{
  height: 350px;
}

.label-shortcode
{
  font-family:courier; 
}

#shortcodes
{
  margin-bottom: 10px;
}

#myTabContent .active
{
    box-shadow: -9px 0 6px 0 #CCCCCC inset;
    height: 400px;
    overflow: auto;
    padding-top: 10px;
}

#previewWraper{
  border: 1px dashed #CCCCCC;
  box-shadow: 0 0 3px #DDDDDD;
  padding: 5px;
}
#previewWraperDiscrip{
  color:#ccc;
}

.previewSection
{
    margin-bottom: 30px;
    border-bottom: 1px dotted #ccc;
    margin-top: 10px;
}

.previewSection span
{
    margin-bottom: 10px;
    display: block;
    margin-top: 10px;
}
#selected_thematic_categories{
    margin-top: 10px;;
}

.mail-wizard-big-icon
{
  text-align: center;
  width: 100px;
}